Deleting element from a list:-

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
del lst[3]
print(lst)  #deletes a particular value at an index

del lst
print(lst) #deletes whole list

[1, 2, 3, 5, 6, 7, 8, 9]

NameError: name 'lst' is not defined

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
print(lst.pop(2))  #pops out a value from a llst at a particular index and also returns it
print(lst)

3
[1, 2, 4, 5, 6, 7, 8, 9]

In [7]:
lst = [[1,1],1,1,2,3,4,5,6,7,8,9]
lst.remove(1) #it removes the frist particular value given to it 
print(lst)
lst.remove(10)
print(lst)

[[1, 1], 1, 2, 3, 4, 5, 6, 7, 8, 9]

ValueError: list.remove(x): x not in list

In [9]:
lst = [1,1,1,2,2,3,4,5,6,7,8,9]
print(lst.count(1))
print(lst.count(2))
print(lst.count(10))

3
2
0

In [13]:
lst = [1,2,3,4,5,6,7,8,9]
print(lst[::-1])  #gives a new reversed list 
lst.reverse() #reverse the original list
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
lst.index(2)  #gives the index of a particular value

lst.index(10)

ValueError: 10 is not in list

Swap the alternate values in a list

In [17]:
lst = [1,2,3,4,5,6,7,8,9,0]
for i in range(0,len(lst),2):
  lst[i],lst[i+1] = lst[i+1],lst[i]

print(lst)

[2, 1, 4, 3, 6, 5, 8, 7, 0, 9]

WAP which will print the largest element in the list

In [19]:
lst = [1,2,3,4,5,6,7,8,9]
max = lst[0]

for i in range(0,len(lst)):
  if(lst[i]>max):
    max=lst[i]

print(max)

9

WAP which will print the max even no. and max odd no. in the list

In [20]:
lst = [1,2,3,4,5,6,7,8,9]
max_even = lst[0]
max_odd = lst[0]

for i in range(0,len(lst)):
  if lst[i]%2==0:
    if lst[i]>max_even:
      max_even = lst[i]
  else:
    if lst[i]>max_odd:
      max_odd = lst[i]

print("Max even:- ", max_even)
print("Max odd:- ", max_odd)

Max even:-  8
Max odd:-  9

Find the second max no. in a list

In [24]:
lst = [1,2,3,4000,4,5,6,7,8,9]
max = 0
sec_max = 0

for i in range(0,len(lst)):
  if lst[i] > sec_max:
    sec_max = lst[i]
  if sec_max > max:
    max,sec_max=sec_max,max
print(sec_max)

9

WAP to give a list of no.s from a list which is largest if we compare all right no.s in the list

In [30]:
lst = [1,2,3,4000,4,5,6,7,8,9]
lst.reverse()
nlst = [lst[0]]
max = nlst[0]
for i in range(len(lst)):
  if max<lst[i]:
    max=lst[i]
    nlst.append(lst[i])

print(nlst)

[9, 4000]

WAP in which make a list from a list in which the square of each no. is present there

In [31]:
lst1 = [1,2,3,4,5,6,7]
lst2 = []

for i in lst1:
  lst2.append(i*i)

print(lst2)

[1, 4, 9, 16, 25, 36, 49]

Print the sum of the factors present in a list of a no.

In [ ]:
no = int(input("Enter the no.:- "))
lst = [1,2,3,4,5,6,7,8]

List comprehension :- [espression forloop condition]

In [32]:
lst = [1,2,3,4,5,6]
lst1=[i*i for i in lst]
print(lst1)

[1, 4, 9, 16, 25, 36]

using list comprehension seperate +ve no.s list and -ve no.s list

In [34]:
lst = [-1,-2,-3,-4,1,2,3,4]
lst_p = [i for i in lst if i>0]
lst_n = [i for i in lst if i<0]

print(lst_p)
print(lst_n)

[1, 2, 3, 4]
[-1, -2, -3, -4]

In [35]:
lst = [2,3,4,5,6,7,8]
lst1 = ["even" if i%2==0 else "odd" for i in lst]
print(lst1)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [1]:
lst = [2,3,4,5,6,7,8]
print(max(lst))
print(sum(lst))
print(min(lst))

8
35
2

In [2]:
lst = [[3,4,6,9], [4,5,6,8], [3,5,2,1], [3,5]]
lst1 = [max(i) for i in lst]
print(lst1)

[9, 8, 5, 5]

In [ ]:
lst = [[3,4,6,9], [4,5,6,8], [3,5,2,1], [3,5]]
lst1 = []
for i in range(0,len(lst)):
  odd = 0
  for j in lst[i]:
    if j%2!=0:
      odd+=j
  lst1.append(odd)

print(lst1)

[12, 5, 9, 8]

Q. swap the even index values of two lists inside a list of list

In [ ]:
lst = [[3,4,6,9], [4,5,6,8], [3,5,1,1], [3,5,2,4]]

for i in range(0,len(lst),2):
  for j in range(0,len(lst[i]),2):
    (lst[i])[j], (lst[i+1])[j] = (lst[i+1])[j], (lst[i])[j]
print(lst)

[[4, 4, 6, 9], [3, 5, 6, 8], [3, 5, 2, 1], [3, 5, 1, 4]]